# Eclipse
.classpath
.project
.settings/
.metadata/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
logs/
target/
node
bin/
node_modules
generated/
.recommenders/
/test-auto-cucumber/data/tmp